@import 'tailwindcss';
@config "../../tailwind.config.ts";

:root {
  --background: ##ffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  h3 {
    @apply text-lg;
  }
}

@layer components {
  .home-section {
    @apply tablet:py-30 mx-auto min-h-screen w-full py-10 text-center;
  }
  .responsive-text {
    @apply text-xs sm:text-base md:text-lg lg:text-xl;
  }
  .app-container {
    @apply w-full py-16 tablet:py-24;
  }
  .mint-modal {
    @apply tablet:rounded-4xl rounded-2xl bg-white px-6 py-6 tablet:px-6;
  }
}
