@import 'tailwindcss';
@config '../../tailwind.config.mts';
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-3xl leading-tight font-medium tablet:text-5xl;
  }
  h2 {
    @apply text-2xl leading-snug font-medium tablet:text-4xl;
  }
  h3 {
    @apply text-xl leading-snug font-medium tablet:text-2xl;
  }
  h4 {
    @apply text-base leading-snug font-medium tablet:text-lg;
  }
  p {
    @apply text-sm leading-relaxed tablet:text-base;
  }
}

@layer components {
  /* Components */
  .hero-container {
    @apply mx-auto w-full bg-khaki-90 px-8 py-24 shadow-xl tablet:min-h-screen tablet:px-16 tablet:py-32;
  }
  .home-container {
    @apply mx-auto w-full max-w-360 px-4 py-18 tablet:px-8 tablet:py-24 desktop:py-32;
  }
  .bento-card {
    @apply h-full rounded-2xl border border-primary-green/40 bg-khaki-99 p-4 tablet:rounded-4xl tablet:border-2 tablet:p-8;
  }

  .mint-container {
    @apply flex min-h-screen w-full flex-col justify-center bg-khaki-90 px-12 py-16 tablet:py-24 desktop:py-42;
  }
  .mint-modal {
    @apply mx-auto flex w-full max-w-100 flex-col gap-2 rounded-4xl bg-white p-5 shadow-lg tablet:w-100 tablet:gap-4 tablet:p-6;
  }
  .payment-card {
    @apply flex items-center justify-between rounded-2xl border p-2 tablet:p-3;
  }
  .dao-container {
    @apply flex min-h-screen w-full flex-col justify-start bg-khaki-90 px-6 py-24 tablet:py-42 desktop:py-52;
  }
  .dao-section {
    @apply mx-auto flex w-full max-w-228 flex-col gap-6 tablet:gap-9 desktop:gap-12;
  }
  .proposal-card {
    @apply flex h-36.25 w-full cursor-pointer flex-col justify-between gap-1 rounded-4xl bg-white p-5 tablet:p-6;
  }

  /* Display / Hero text variants */
  .display-48 {
    @apply text-3xl leading-tight font-medium tablet:text-4xl desktop:text-5xl;
  }

  .display-72 {
    @apply text-[32px] leading-tight font-medium tablet:text-[56px] desktop:text-[72px];
  }

  .display-96 {
    @apply text-5xl leading-tight font-medium tablet:text-[64px] desktop:text-[96px];
  }
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #f6f6ec;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
